@model IEnumerable<UserAccounts.Models.CampaignModel>

<h4>Campaigns</h4>
<table class="table">
    <tr>
        <th>
            <h5><span class="badge badge-pill badge-dark">User name</span></h5>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Campaign", new { id = item.Id },new object())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSum)
            </td>
        </tr>
    }

</table>