@model IEnumerable<UserAccounts.Models.CampaignModel>

<h4>@Resources.Campaign.Campaigns</h4>
<table class="table">
    <tr>
        <th>
            <h5><span class="badge badge-pill badge-dark">@Resources.Campaign.Name</span></h5>
        </th>
        <th>
            <h5><span class="badge badge-pill badge-dark">@Resources.Campaign.RequiredSum</span></h5>
        </th>
        <th>
            <h5><span class="badge badge-pill badge-dark">@Resources.Campaign.CurrentSum</span></h5>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Campaign", new { id = item.Id },new object())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSum)
            </td>
        </tr>
    }

</table>