@model IEnumerable<UserAccounts.Models.UserListViewModel>

@{
    ViewBag.Title = "Users";
}
@Scripts.Render("~/bundles/UserAccounts")

<h2 class="page-header">
    @ViewBag.Title
</h2>

<meta charset="utf-8">
<div class="header-button-container">
    <div class="navbar-brand">
        <button type="button" class="btn btn-success" onclick="Unlocking()">Unblock</button>
        <button type="button" class="btn btn-warning" onclick="Locking()">Block</button>
        <button type="button" class="btn btn-danger" onclick="Delete()">Delete</button>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            <input id="checkall" type="checkbox"/>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">User name</span>
            </h5>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">Status</span>
            </h5>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">Role</span>
            </h5>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input class="checkbox" type="checkbox" name="statuses" value="@item.Id">
            </td>
            <td>
                @Html.ActionLink(item.UserName, "UserDetails", new {id = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
    }

</table>

<div class="btn justify-content-end">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary" onclick="SetAdminPermissions()">Set as admin</button>
        <button type="button" class="btn btn-secondary" onclick="SetUserPermissions()">Set as user</button>
    </div>
</div>