@model UserAccounts.Models.UserViewModel

@{
    ViewBag.Title = "UserDetails";
}

<h2>User details</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            <b>User name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            <b>Status</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            <b>Role</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("Campaigns", Model.Campaigns)
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>