@model IEnumerable<UserAccounts.Models.UserListViewModel>

@{
    ViewBag.Title = Resources.Global.Users;
}
@Scripts.Render("~/bundles/UserAccounts")

<h2 class="page-header">
    @ViewBag.Title
</h2>

<meta charset="utf-8">
<div class="header-button-container">
    <div class="navbar-brand">
        <button type="button" class="btn btn-outline-success" onclick="Unlocking()">@Resources.Global.Unblock</button>
        <button type="button" class="btn btn-outline-info" onclick="Locking()">@Resources.Global.Block</button>
        <button type="button" class="btn btn-outline-danger" onclick="Delete()">@Resources.Campaign.Delete</button>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            <input id="checkall" type="checkbox"/>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">@Resources.Global.UserName</span>
            </h5>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">@Resources.Global.Status</span>
            </h5>
        </th>
        <th>
            <h5>
                <span class="badge badge-pill badge-dark">@Resources.Global.Role</span>
            </h5>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input class="checkbox" type="checkbox" name="statuses" value="@item.Id">
            </td>
            <td>
                @Html.ActionLink(item.UserName, "UserDetails", new {id = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
    }

</table>

<div class="btn justify-content-end">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary" onclick="SetAdminPermissions()">@Resources.Global.SetAdmin</button>
        <button type="button" class="btn btn-secondary" onclick="SetUserPermissions()">@Resources.Global.SetUser</button>
    </div>
</div>