@model UserAccounts.Models.UserViewModel

@{
    ViewBag.Title = Resources.Global.UserDetails;
}

<h2 class="page-header">
    @ViewBag.Title
</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Resources.Global.UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Resources.Global.Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Resources.Global.Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("Campaigns", Model.Campaigns)
</div>
<p>
    @Html.ActionLink(Resources.Campaign.Back, "Index")
</p>