@model IEnumerable<UserAccounts.Models.CampaignModel>
@using Microsoft.AspNet.Identity
@using Westwind.Web.Markdown
@{
    ViewBag.Title = "CampaignList";
}

<h2>CampaignList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    var progress = (int) (item.CurrentSum / item.RequiredSum * 100);
    <table class="table campaign-list">
        <tr>
            <td class="caption">
                <div class="control-label">
                    @Html.ActionLink(item.Name, "Details", new {id = item.Id})
                </div>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <img src="@item.ImageUrl"/>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(Markdown.Parse(item.ShortenedDescription))
                @Html.ActionLink("Show more", "Details", new {id = item.Id})
            </td>
        </tr>
        <tr>
            <td>
                <b>We need: <i>$@item.RequiredSum</i>.</b>
            </td>
        </tr>

        <tr>
            <td>
                <div class="progress">
                    <div class="progress-bar" style="width: @progress%">($@item.CurrentSum) @progress%</div>
                </div>
            </td>
        </tr>
    </table>
}