@using System.Web.Mvc.Html
@using Antlr.Runtime.Tree
@using Microsoft.AspNet.Identity
@using Westwind.Web.Markdown
@model UserAccounts.Models.CampaignModel

<div>
    <h2 class="page-header">
        @Model.Name
    </h2>
    <div class="header-button-container">
    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.OwnerId)
    {
        @Html.ActionLink("Edit", "Edit", "Campaign", null, new {@class = "btn btn-outline-secondary"})
    }
    </div>
    <hr/>

    <img src="@Model.ImageUrl"/>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Markdown.Parse(Model.Description))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.ActionLink(Model.OwnerName, "UserDetails", "Home", new {id = Model.OwnerId}, new object())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSum)
        </dd>

        <dd>
            @Html.ActionLink("Donate", "Donate", new {id = Model.Id})
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("Posts", Model.Posts)
</div>
@if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.OwnerId)
{
    <p>
        @Html.ActionLink("Write Post", "Write", new {id = Model.Id})
    </p>
}
<div>
    @Html.Partial("Comments", Model.Comments)
</div>
<p>
    @Html.ActionLink("Comment", "Comment", new {id = Model.Id})
</p>