@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using Westwind.Web.Markdown
@model UserAccounts.Models.CampaignModel

<div>
    <h2 class="page-header">
        @Model.Name
    </h2>
    <hr />
    <div class="header-button-container">
        @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.OwnerId)
        {
            <div class="inline-button">
                @Html.ActionLink(Resources.Campaign.Edit, "Edit", "Campaign", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
            </div>
            <div class="inline-button">
                @Html.ActionLink(Resources.Campaign.Delete, "Delete", "Campaign", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
            </div>
        }
    </div>



    <div class="date-container">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <img src="@Model.ImageUrl" />

    <dl class="dl-horizontal">
        <dt>
            @Resources.Campaign.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Resources.Campaign.Description
        </dt>

        <dd>
            @Html.Raw(Markdown.Parse(Model.Description))
        </dd>

        <dt>
            @Resources.Campaign.OwnerName
        </dt>

        <dd>
            @Html.ActionLink(Model.OwnerName, "UserDetails", "Home", new { id = Model.OwnerId }, new object())
        </dd>

        <dt>
            @Resources.Campaign.RequiredSum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredSum)
        </dd>

        <dt>
            @Resources.Campaign.CurrentSum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSum)
        </dd>

        <dd>
            @Html.ActionLink(Resources.Campaign.Donate, "Donate", new { id = Model.Id })
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("Posts", Model.Posts)
</div>
@if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.OwnerId)
{
    <p>
        @Html.ActionLink(Resources.Campaign.Write, "Write", new {id = Model.Id})
    </p>
}
<div>
    @Html.Partial("Comments", Model.Comments)
</div>
<p>
    @Html.ActionLink(@Resources.Campaign.Comment, "Comment", new {id = Model.Id})
</p>